<h1 class="m-3">Stupid Coaching</h1>
<p class="m-3">Ask your coach anything!</p>
<form class="m-3" action="/answer" data-turbo="false">
  <input type="text" id="form" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
